<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Tutorials</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
    <div id="vue-app">
        <h1>Name: {{ name }}</h1>
        <h2>Job: {{ job }}</h2>
        <h3>Greet: {{ greet('Abend') }}</h3>
        <h4><a :href="website" target="_blank">Website</a></h4>
        <h4><a v-bind:href="website" target="_blank">Website</a></h4>
        <input type="text" :value="name" />
        <p v-html="websiteTag"></p>
    </div>
    <div id="vue-events">
        <h1>Vue Events</h1>
        <button v-on:click="plus(2)">Add a Year</button>
        <button @click.once="minus(2)">Subtract a Year</button>
        <p>My age is {{ age }}</p>
        <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
        <a @click.prevent="click" href="http://loose.fructuosowipf.com">Loose-Loose-Loose</a>
    </div>
    <div id="keyboard-events">
        <h1>Keyboard Events</h1>
        <label>Name:</label>
        <input @keyup.alt.enter="logName" type="text" v-model="keyboardName">
        <p>{{ keyboardName }}</p>
        <label>Age:</label>
        <input @keyup.enter="logAge" type="text" v-model="keyboardAge">
        <p>{{ keyboardAge }}</p>
    </div>
    <div id="computed">
        <h1>Computed Properties</h1>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <p>A: {{ a }}</p>
        <p>B: {{ b }}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>
    </div>
    <div id="dyncss">
        <h1>Dynamic CSS</h1>
        <!-- <h2>Example 1</h2>
        <div @click="availability = !availability" v-bind:class="{available:availability}">
            <span>Tiago</span>
        </div> -->
        <h2>Example 2</h2>
        <div v-bind:class="compClasses">
            <button @click="nearby = !nearby">Toggle nearby</button>
            <button @click="available = !available" >Toggle Availability</button>
            <span>Tiago</span>
        </div>
    </div>
    <div id="conditionals">
        <h1>Conditionals</h1>
        <button @click="error = !error">Toggle Error</button>
        <button @click="success = !success">Toggle Success</button>
        <!-- <p v-if="error">There has been an error</p>
        <p v-else-if="success">There has been an success</p> -->
        <p v-show="error">There has been an error</p>
        <p v-show="success">Whooooo success!! :-)</p>
    </div>

    <div id="v-for">
        <h1>Looping through lists</h1>
        
    </div>


    <script src="app.js"></script>
</body>
</html>